page-childForm {
.background-img {
    background-image: url('../../assets/imgs/pumpkin.png');
    // background: url('../../img/getstart.png');
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
    // object-fit: cover;
    // opacity: 0.5;
    background-color: antiquewhite;
    text-align: center;
}

.form {
    color: black;
    // opacity: 1;
    // background-color: white;
    box-sizing: border-box;

    // background-color: beige;
    text-align: center;
    justify-content: center;
}

.child {
    color: black;
    opacity: 0.8;
    background-color: antiquewhite;
}

ion-footer {
    text-align: center;
}
}